#### ÌïÑÏöîÌïú Ìå®ÌÇ§ÏßÄÎ•º Î∂àÎü¨Ïò®Îã§

### Problem 01 : Î¨∏Ï†ú

### Î∂ìÍΩÉ Îç∞Ïù¥ÌÑ∞ ÌÉêÏÉâ

In [0]:
import numpy as np
import pandas as pd
from sklearn import datasets
%matplotlib inline

#### Îç∞Ïù¥ÌÑ∞Î•º Í∞ÄÏ†∏Ïò®Îã§

In [0]:
data_raw = datasets.load_iris()
data_raw.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names', 'filename'])

#### Îç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌïú ÏÑ§Î™ÖÏùÑ ÏùΩÏñ¥Î≥∏Îã§

In [0]:
print(data_raw['DESCR'])

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

In [0]:
data_raw['data']

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.2],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.6, 1.4, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

In [0]:
data_raw.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

#### Îç∞Ïù¥ÌÑ∞Î•º Numpy Î∞∞Ïó¥Î°ú Í∞ÄÏ†∏Ïò§Í≥† ÌÉêÏÉâÌï¥ Î≥∏Îã§.

In [0]:
X = data_raw['data']
y = data_raw['target']

In [0]:
print(X.shape)
print(y.shape)

(150, 4)
(150,)

In [0]:
data_raw['feature_names']   # ÎèÖÎ¶ΩÎ≥ÄÏàòÏùò Î™ÖÏπ≠ Ï∂úÎ†•.

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [0]:
data_raw['target_names']   # Ï¢ÖÏÜçÎ≥ÄÏàòÏùò Ïú†Ìòï Ï∂úÎ†•.

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [0]:
data_raw.target  # 0,1,2 Î°ú ÎêòÏñ¥ÏûàÍ∏∞ ÎïåÎ¨∏Ïóê target_nameÍ≥º Îß§ÌïëÌïÑÏöî

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

#### Îã§Ïùå Î¨ºÏùåÏóê ÎãµÌïòÏãúÏò§.

#### 1). Numpy Î∞∞Ïó¥Ïù∏ XÏôÄ yÎ•º Ïù¥Ïñ¥ Î∂ôÏù¥Í≥† Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú Î≥ÄÌôòÏãúÏºú ÎëîÎã§.

In [0]:
df = pd.DataFrame(X, columns=data_raw['feature_names'])

In [0]:
xy = pd.Series(data_raw.target, dtype="category")
xy = xy.cat.rename_categories(data_raw.target_names) # target Í≥º target_names Ïó∞Í≤∞
df['species'] = xy

#### 2). Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùò ÏÉÅÎã® 3ÌñâÏùÑ Ï∂úÎ†•ÌïòÏãúÏò§.

In [0]:
df.head(3)

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  species
0                5.1               3.5  ...               0.2   setosa
1                4.9               3.0  ...               0.2   setosa
2                4.7               3.2  ...               0.2   setosa

[3 rows x 5 columns]

#### 2-ÍπúÏßùÎ¨∏Ï†ú) columnÎ™ÖÏùÑ ÏïÑÎûòÏôÄ Í∞ôÏù¥Î≥ÄÍ≤ΩÌïòÎùº

In [0]:
df = pd.DataFrame(X, columns=['1Î≤à',
 '2Î≤à',
 'petal length (cm)',
 'petal width (cm)'])
df.head(3)

    1Î≤à   2Î≤à  petal length (cm)  petal width (cm)
0  5.1  3.5                1.4               0.2
1  4.9  3.0                1.4               0.2
2  4.7  3.2                1.3               0.2

#### 3). Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùò ÏàòÏπòÌòï Î≥ÄÏàòÎì§Ïùò ÌÜµÍ≥Ñ ÏöîÏïΩÏùÑ Ï∂úÎ†•ÌïòÏãúÏò§.

In [0]:
df.describe()

       sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
count         150.000000        150.000000         150.000000        150.000000
mean            5.843333          3.057333           3.758000          1.199333
std             0.828066          0.435866           1.765298          0.762238
min             4.300000          2.000000           1.000000          0.100000
25%             5.100000          2.800000           1.600000          0.300000
50%             5.800000          3.000000           4.350000          1.300000
75%             6.400000          3.300000           5.100000          1.800000
max             7.900000          4.400000           6.900000          2.500000

#### 3-ÎèåÎ∞úÎ¨∏Ï†ú)Ïª¨ÎüºÎ≥Ñ Í≤∞Ï∏°Ïπò Ï∂îÏ∂ú
Í∞Å Ïª¨ÎüºÎ≥Ñ Í≤∞Ï∏°Ïπò Ìï©ÏùÑ Ï∂îÏ∂úÌïòÎùº

In [0]:
df.isnull().sum(axis=0)

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
species              0
dtype: int64

#### 3-ÎèåÎ∞úÎ¨∏Ï†ú2) 1Î≤àÏ∂ïÏúºÎ°ú Í≤∞Ï∏°Ïπò Ìï©ÏùÑ Ï∂îÏ∂úÌïòÎùº (ÏúÑÎ∂ÄÌÑ∞ 7Í∞úÎßå Ï∂îÏ∂ú)

In [0]:
df.isnull().sum(axis=1)

0      0
1      0
2      0
3      0
4      0
      ..
145    0
146    0
147    0
148    0
149    0
Length: 150, dtype: int64

#### 3-ÎèåÎ∞úÎ¨∏Ï†ú3) sepal length (cm) Ïùò ÏµúÎåÄÍ∞í, ÏµúÏÜåÍ∞í, ÌèâÍ∑†, Ìé∏Ï∞®

In [0]:
df['sepal length (cm)'].max(), df['sepal length (cm)'].min(), df['sepal length (cm)'].mean(), df['sepal length (cm)'].std()

(7.9, 4.3, 5.843333333333335, 0.8280661279778629)

#### 3-ÎèåÎ∞úÎ¨∏Ï†ú4) Outlier Ï≤òÎ¶¨:  2ùúé  Ïù¥ÏÉÅ Í∞íÏùÑ OutlierÎùº Ìï†Îïå 'sepal length (cm)'Ïùò Outlier Ïàò(rowcount) , OutlierÏùò Ï†ïÎ≥¥Î•º Ï∂îÏ∂úÌïòÎùº

In [0]:
outlier_conds = np.abs(df['sepal length (cm)'] - df['sepal length (cm)'].mean()) > (2*df['sepal length (cm)'].std())
print('row count', len(df[outlier_conds]))
print(df[outlier_conds])

row count 6
     sepal length (cm)  sepal width (cm)  ...  petal width (cm)    species
105                7.6               3.0  ...               2.1  virginica
117                7.7               3.8  ...               2.2  virginica
118                7.7               2.6  ...               2.3  virginica
122                7.7               2.8  ...               2.0  virginica
131                7.9               3.8  ...               2.0  virginica
135                7.7               3.0  ...               2.3  virginica

[6 rows x 5 columns]

In [0]:
5.84 + (0.82*2) #ÏïÑÏõÉÎùºÏù¥Ïñ¥ ÎåÄÏÉÅ Í≤ÄÏ¶ù

7.4799999999999995

In [0]:
df[df['sepal length (cm)']>7.5] #ÏïÑÏõÉÎùºÏù¥Ïñ¥ ÎåÄÏÉÅ Í≤ÄÏ¶ù

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)    species
105                7.6               3.0  ...               2.1  virginica
117                7.7               3.8  ...               2.2  virginica
118                7.7               2.6  ...               2.3  virginica
122                7.7               2.8  ...               2.0  virginica
131                7.9               3.8  ...               2.0  virginica
135                7.7               3.0  ...               2.3  virginica

[6 rows x 5 columns]

#### 3-ÎèåÎ∞úÎ¨∏Ï†ú5) ÎπÑÎãùÎ¨∏Ï†ú
'sepal length (cm)' ÏùÑ Î≤îÏ£ºÌòï Î≥ÄÏàòÎ°ú Î∂ÑÎ¶¨ÌïòÎùº
(ÌÅ¨Í∏∞Ïóê Îî∞Îùº ÏûëÏùå/Î≥¥ÌÜµ/ÌÅº  3Í∞ÄÏßÄÎ°ú Î∂ÑÎ¶¨)

In [0]:
pd.cut(df['sepal length (cm)'], 3, labels=['ÏûëÏùå', 'Î≥¥ÌÜµ', 'ÌÅº'])

0      ÏûëÏùå
1      ÏûëÏùå
2      ÏûëÏùå
3      ÏûëÏùå
4      ÏûëÏùå
       ..
145    Î≥¥ÌÜµ
146    Î≥¥ÌÜµ
147    Î≥¥ÌÜµ
148    Î≥¥ÌÜµ
149    Î≥¥ÌÜµ
Name: sepal length (cm), Length: 150, dtype: category
Categories (3, object): [ÏûëÏùå < Î≥¥ÌÜµ < ÌÅº]

#### 4). speciesÍ∞Ä 'versicolor'Ïù∏ Í≤ΩÏö∞Ïóê petal_lengthÏùò ÌèâÍ∑†Í∞íÏùÑ Íµ¨ÌïòÏãúÏò§.

In [0]:
#speciesÍ∞Ä versicolor 
df2 = df[df.species == 'versicolor']
#petal_lengthÏùò ÌèâÍ∑†
df2['petal length (cm)'].agg('mean')

4.26

#### 5). sepal_lengthÏôÄ sepal_widthÏùò ÌèâÍ∑†Í∞íÏùÑ Íµ¨ÌïòÏãúÏò§.

In [0]:
df[['sepal length (cm)' , 'sepal width (cm)']].agg('mean')

sepal length (cm)    5.843333
sepal width (cm)     3.057333
dtype: float64

#### 6). speciesÏùò Ïú†ÌòïÎ≥Ñ Íµ¨Î≥ÑÌïòÏó¨ sepal_lengthÏôÄ sepal_widthÏùò ÌèâÍ∑†Í∞íÏùÑ Íµ¨ÌïòÏãúÏò§.

In [0]:
# speciesÏùò Ïú†ÌòïÎ≥Ñ Íµ¨Î≥Ñ
df2 = df.groupby('species').agg('mean')
#sepal_length sepal_widthÏùò ÌèâÍ∑†
df2[['sepal length (cm)' , 'sepal width (cm)']]

            sepal length (cm)  sepal width (cm)
species
setosa                  5.006             3.428
versicolor              5.936             2.770
virginica               6.588             2.974